<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kuis Vue.JS</title>
</head>
<body>    
    <div id="app">

        <input type="text" v-model="newUsers" > 
        <button @click="inputUsers" v-if="!editing"> Add </button>
        <button @click="editUsers" v-else="!editing"> Update </button>
        <p v-for="(user, index) in users"> 

            {{ user.name }}
            <button @click="btnEdit(index)"> Edit </button> ||
            <button @click="btnHapus(index)"> Hapus </button> 
        </p>

    </div>

    <script src="assets/vendor/vue.js"></script>
    <script src="assets/js/app.js"></script>
    
</body>
</html>