<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.JS</title>
</head>
<body>    
    <div id="app">
        <p v-for="(komen, index) in komentar"> 
            <button v-on:click="prosesNaik(index)"> + </button> <br>
            {{ komen.isi }} || {{ komen.tgl }} || Score: {{ komen.hasil }} <br>
            <button v-on:click="prosesTurun(index)"> - </button> <br>
        </p>
        <textarea cols="30" rows="3" v-on:keyup.enter="inputKomentar" v-model="newKomentar"></textarea> <br>

    </div>

    <script src="assets/vendor/vue.js"></script>
    <script src="assets/js/app.js"></script>
    
</body>
</html>